<footer class="footer">
    <div class="footer-container py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2  py-3">
                    <div class="row container ">
                        <h5><strong>¡VISITANOS!</strong></h5>
                    </div>
                    <div class="row container">
                        <small>Estaremos aquí para ayudarte.</small>
                    </div>
                </div>
                    <div class="col-sm-4 container col-md-3 d-flex  align-items-start justify-content-center">
                        <div class="contact-form-item d-flex p-2">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <div class="d-flex flex-column justify-content-top pl-2">
                                <span class="ft-medium">Horario de atención</span>
                                <small>9:00 AM - 2:00 PM; 4:00PM - 7:00PM</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-2 d-flex align-items-start justify-content-center">
                        <div class="contact-form-item d-flex p-2">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <div class="d-flex flex-column justify-content-center pl-2">
                                <span class="ft-medium">Contactanos</span>
                                <small>(953) 5 32 02 14 
                                       (953) 5 32 03 99 
                                       Extensión: 205 </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 container  col-md-3 d-flex align-items-start justify-content-center">
                        <div class="contact-form-item d-flex p-2">
                            <i class="fa fa-bandcamp" aria-hidden="true"></i>
                            <div class="d-flex flex-column justify-content-center pl-2">
                                <span class="ft-medium">Conocenos</span>
                                <small>8:00 AM - 5:00 PM</small>
                            </div>
                        </div>
                     </div>
            
        </div>


            <div class="row footer-links pt-5">
                <div class="col-xs-6 col-sm-6 col-md-3 d-flex flex-column">
                    <h5><strong>Información Escolar y Teléfonos</strong></h5>
                    <small><strong>Dirección</strong>: Carretera Huajuapan-Acatlima, km. 2.5, CP. 69000, Huajuapan de León, Oaxaca.</small>
                    <small><strong>Teléfonos</strong>: (953) 5 32 02 14 y (953) 5 32 03 99</small>
                    <small><strong>Extensión</strong>: 205</small>                   

                    <div class="social-btns d-flex pt-4 pb-2">
                        <a href="https://www.facebook.com/Universidad-Virtual-UTM-224214391089141/?fb_dtsg_ag=AdwLj-fdw0VylL2xuqkNWz32AP3qrOEeytznket_Izsyjg%3AAdzUcb_pb3xmKNg9CfbIqgWJWdLLSESVIfFsjjZ8G5VfRA" class="btn btn-social mr-1" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="btn btn-social mx-1">
                                            
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                        <a href="http://twitter.com/virtual_UTM" class="btn btn-social mx-1" target="_blank">                              
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <h5 class="mb-3">Conócenos</h5>
                    <ul>
                        <div class="row">
                            <div class="col-6">
                                <li>
                                    <a href="#home">¿Qué es estudiar en línea?</a>
                                </li>
                                <li>
                                    <a href="#features">Modelo educativo</a>
                                </li>
                                <li>
                                    <a href="#screenshots">Requerimientos tecnológicos</a>
                                </li>
                                <li>
                                    <a href="#testimonials">Pregunta e infórmate</a>s
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <h5 class="mb-3">Sitios de interes</h5>
                    <ul>
                        <li>
                            <a href="http://virtual2.utm.mx/aula"target="blank">Acceso</a>
                        </li>
                        <li>
                            <a href="http://www.utm.mx/"target="blank">Universidad Tecnólogica de la Mixteca</a>
                        </li>
                        <li>
                            <a href="http://www.suneo.mx/" target="blank">SUNEO</a>
                        </li>
                        <li>
                            <a href="/virtual-site/assets/archivos/AvisoPrivacidadSimplificado_UniversidadVirtual.pdf" target="blank">Aviso de Privacidad</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <h5 class="mb-3">Recent Courses</h5>
                    <ul>
                        <li class="d-flex">
                            <div class="courses-img mr-2">
                                <img src="assets/img/school-2.jpg" />
                            </div>
                            <small><a href="#">Java Developer 1</a></small>
                        </li>
                        <li class="d-flex">
                            <div class="courses-img mr-2">
                                <img src="assets/img/school-2.jpg" />
                            </div>
                            <small><a href="#">Java Developer 2</a></small>
                        </li>
                        <li class="d-flex">
                            <div class="courses-img mr-2">
                                <img src="assets/img/school-2.jpg" />
                            </div>
                            <small><a href="#">Web Design 3</a></small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-credits">
        <small>© 2018 UTM</small>
    </div>
</footer>